* {
    box-sizing: border-box;
}

body {
    background-color: hsl(138, 70%, 41%);
    margin: 0;
    padding: .25rem;
}

.chart-page {
    background-color: white;
}

.demo-chart {
    height: 0;
    margin: 1rem auto;
    max-width: 40rem;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}

.demo-chart iframe {
    border: 0 none transparent;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
