* {
    box-sizing: border-box;
}

@font-face {
    font-face-name: 'Anaheim';
    src: url('../fonts/anaheim-regular-webfont.eot');
    src: url('../fonts/anaheim-regular-webfont.svg');
    src: url('../fonts/anaheim-regular-webfont.ttf');
    src: url('../fonts/anaheim-regular-webfont.woff');
}

@font-face {
    font-face-name: 'Dosis';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.svg');
    src: url('../fonts/dosis-regular-webfont.ttf');
    src: url('../fonts/dosis-regular-webfont.woff');
    /*font-weight: 100;*/
}

@font-face {
    font-face-name: 'Dosis Light';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.svg');
    src: url('../fonts/dosis-light-webfont.ttf');
    src: url('../fonts/dosis-light-webfont.woff');
    /*font-weight: 100;*/
}

@font-face {
    font-face-name: 'Dosis Bold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.svg');
    src: url('../fonts/dosis-bold-webfont.ttf');
    src: url('../fonts/dosis-bold-webfont.woff');
    /*font-weight: 100;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-header {
    font-family: Dosis, sans-serif;
    font-weight: 300;
}

.site-header {
    background-color: #1fb24b;;
    color: white;
    font-size: 2em;
    margin: -.25rem;
    padding: 1rem 1.25rem;
}

.site-name {
    margin: 1rem 0 0;
    font-weight: 700;
}

.site-slogan {
    margin: 0 0 1rem;
}

body {
    color: black;
    font-family: Anaheim, serif;
    margin: 0;
    padding: .25rem;
    text-align: center;
}

.chart-demo {
    background-color: white;
}

.chart-demo__back-to-info {
    background-color: black;
    margin: -.25rem;
    padding: .25rem;

}
.chart-demo__canvas {
    margin: 1rem auto;
    max-width: 50rem;
}

.demo-chart {
    height: 0;
    margin: 1rem auto;
    max-width: 40rem;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}

.demo-chart iframe {
    border: 0 none transparent;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.meshy-garden-chart-demo--teaser__link a {
    display: block;
    font-size: 1.2rem;
    text-align: center;
}
a {
    color: hsl(138, 70%, 33%);
    font-weight: 600;
    text-decoration: none;
}

a:hover,
a:active,
a:visited {
    text-decoration: underline;
}

.meshy-garden-chart-demo {
    background-color: #1fb24b;
    color: white;
    margin: 1rem -.25rem 0;
    padding: 1rem 1.25rem;
}

.meshy-garden-chart-demo a {
    color: white;
}

.meshy-garden-chart-demo--teaser {
    background-color: white;
    border: 2px solid black;
    border-radius: .5rem;
    margin: 1rem auto;
    max-width: 25rem;
    padding: .5rem;
    width: 100%;
}

.gardenmesh-components {
    margin: 1rem auto;
    max-width: 50rem;
    text-align: left;
    width: 80%;
}

.gardenmesh-components__images {
    background-color: white;
    float: left;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 50rem;
    width: 100%;
}

.gardenmesh-components__images .gardenmesh-components__image--first {
    display: block;
    float: left;
    margin: 0 1rem 0 0;
    width: 70%;
}

.gardenmesh-components__images .gardenmesh-components__image--second {
    display: block;
    float: left;
    margin: 0 0 0 1rem;
    width: 30%;
}
